/* primary-styles */
/* *{
    margin: 0px;
    padding: 0px;
}  */
body {
    font-family: 'Open Sans', sans-serif;
}

.menu-item {
    background-color: #FD6E0A;
    border: 0;
    padding: 12px 22px;
    font-size: 15px;
    font-weight: 600;
    font-family: 'Open Sans', sans-serif;
    border-radius: 4px;

}

.btn-space {
    margin-right: 15px;
}

/* Nav relestes styles */
.menu-item>a {
    text-decoration: none;
    color: var(--white-color, #FFF);
}

nav ul>li>a:hover {

    color: #FD6E0A;
}

.menu-item:hover {
    background-color: #913f05;
}

.site-tittle {
    font-weight: 800;
    font-size: 38px;
}

.header {
    background: #fff8f3;
    background-image: url("./images/header_bg.png");
    background-repeat: no-repeat;
    background-position: bottom right;

}

span {
    color: #FD6E0A;
}

nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

nav ul {
    display: flex;
    align-items: center;

}

nav ul li {
    list-style: none;
    margin-right: 20px;
    padding: 10px;

}

nav ul li>a {
    text-decoration: none;
    color: #474747;
    font-weight: 600;
}

/* banner-paart */
.banner {
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 30px 30px 0px 150px;

}

.headshot {
    width: 500px;
    margin-bottom: -5px;
}

.banner-tittle {
    color: #474747;
    font-size: 30px;
    margin-bottom: 10px;
}

.banner-tittle2 {
    color: var(--dark-01, #181818);
    font-family: Open Sans;
    font-size: 55px;
    font-style: normal;
    font-weight: 700;
    margin-top: 0px;
    margin-bottom: 10px;
}

.banner-description {
    color: black;
    font-weight: 500;
    line-height: 25px;
}

.btn {
    margin-top: 25px;
}

/* About Section */
main {
    max-width: 1140px;
    margin: 0px auto;
}

.about {
    border-radius: 10px;
    background: #FFF8F3;
    padding: 80px 130px 50px 130px;
    margin: 100px 0px;
    box-shadow: 0 0 5px 2px rgba(158, 148, 148, 0.5);
   
}

.section-tittle {
    text-align: center;
    font-size: 30px;
    margin-top: -20px;
    color: #FD6E0A;
}

.section-description {
    color: (#757575);
    text-align: center;
    font-family: Open Sans;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
}

.about-info-container {
    display: flex;
    justify-content: space-around;
   
}

.info-tittle {
    text-align: center;
    font-size: 15px;
}

.info-description {
    align-items: center;
    font-weight: 600;
    color: #474747;
}
.wish{
    font-size: 25px; 
    color: #FD6E0A;
    margin-top: 80px;
    font-family: monospace;
}

/* skill-set and boxes-styles are here  */
.skill-list-container {
    display: flex;
    justify-content: space-between;
    height: auto;
    padding-bottom: 80px;
}
.skill-details{
    padding-bottom: 60px;
 }

.skill-box {
    width: 220px;
    border-radius: 5px;
    background: #FFF;
    box-shadow: 0px 6px 50px 0px rgba(0, 0, 0, 0.06);
    text-align: center;
    padding:20px;
    height: fit-content;
    
}
.icon{
    height: 44px;
    width: 44px;
    border-radius: 50%;
}

.skill-decription{
    color: var(--dark-03, #757575);
    font-style: normal;
    font-weight: 400;
    line-height: 28px;
}

/* <!-- Resume-section-goes-here  --> */

.resume-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.resume-colam{
    max-width: 490px;
    height: 630px;
    margin-bottom: 30px;

}
.resume-description{
    color: #757575;
    
}
.resume-colamName{
    font-size: 30px;
    padding-bottom: 40px;
}
.degree{
    line-height: 0;
}
.r-tiitle{
    padding-bottom: 40px;
}