/* primary-styles */
/* *{
    margin: 0px;
    padding: 0px;
} */
body{
    font-family: 'Open Sans', sans-serif;
}
.menu-item {
     border-radius: 5px;
     background-color: #FD6E0A;
     border: 0;
     padding: 12px 22px;
     font-size: 15px;
     font-weight: 600;
     font-family: 'Open Sans', sans-serif;

}

/* Nav relestes styles */
.menu-item >a{
    text-decoration: none;
    color: var(--white-color, #FFF);
}
.menu-item:hover
{
    background-color: #913f05;
}

.site-tittle{
    font-weight: 800;
    font-size: 38px;
}
span{
    color: #FD6E0A;
}
nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
nav ul{
    display: flex;
    align-items: center;
    
}
nav ul li{
   list-style: none;
   margin-right: 20px;
   padding: 10px;
   
}
nav ul li>a{
    text-decoration: none;
    color: #474747;
    font-weight: 600;
}

/* banner-paart */
.banner{
    display: flex;
    align-items: center;
    justify-content: space-around;


}
.headshot{
    width: 500px;
    flex-shrink: 0;
}